/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/ProgramaBhaskara/nbproject/private/
/ProgramaBhaskara/build/
/ProgramaBhaskara/dist/
/FaculdadeContador/nbproject/private/
/FaculdadeContador/build/
/FaculdadeEx14/nbproject/private/
/FaculdadeEx14/build/
